body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
}

h2 {
    text-align: center;
}

input {
    padding: 6px;
    margin: 5px;
}

.section-title {
    margin-top: 20px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #999;
}

th,
td {
    padding: 8px;
    text-align: center;
}

.summary {
    margin-top: 20px;
    text-align: right;
}